*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.radius{
    border-radius: 8px;
}

/* parte logo */
header{
    background-color: white;
    height: 80px;
    margin-bottom: 40px;
}

#logo{
    padding: 10px;
  
}

.logo-text{
    font-size: 40px;
    height: 80px;
    line-height: 50%;
    vertical-align: middle;
    display: inline-block;
}


body{
    background-color: #F6F8F9;
}

/* main */

main{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 45px;
}
main button{
    padding: 8px 13px;
    border: 1px solid;
}

.blu-button{
    background-color: #47ADF1;
    border-color:#47ADF1;
}
.white-button{
    background-color: white;
    border-color: lightgrey;
    color: lightgrey;
}

.violet-button{
    background-color: darkmagenta;
    border-color: darkmagenta;
}

.green-button{
    background-color: lightgreen;
    border-color: lightgreen;
}

.orange-button{
    background-color: orange;
    border-color: orange;
}

.pink-button{
    background-color:palevioletred;
    border-color: palevioletred;
}

.buttons-container{
    padding-left: 23px;
    padding-top: 27px;
    padding-bottom: 10px;
}


.main-row{
    border: 1px solid #F6F8F9;
}

ul{
    font-size: 30px;
}

.triangolo {
    list-style-type: "\25BC";
} 


#task{ 
    font-weight: bold;
}

.entities{
    list-style-type:none;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding-inline: 5px;
    line-height: 35px;
}
.tick{
    color: green;
    border-color: green;
}
.x-mark{
    
    color: red;
    border-color: red;
}
.li-text{
    color: black;
}
li::marker{
    display: none;
}
ul{
    list-style: none;
}
/*
ul.bordo{
    border: 1px solid black;
    border-radius: 100%;
}
*/

.li-button{
    vertical-align: text-bottom;
    border-radius: 12px;
    padding: 7px 14px;
    color: white;
}

li{
    line-height: 50px;
    padding: 10px 0px;
}

ul li{
    font-size: 22px;
}