*{
    margin: 0;
    box-sizing: border-box;
}
.radius{
    border-radius: 8px;
}

/* parte logo */
header{
    background-color: white;
    height: 80px;
    margin-bottom: 40px;
}

#logo{
    padding: 10px;
  
}

.logo-text{
    font-size: 40px;
    height: 80px;
    line-height: 50%;
    vertical-align: middle;
    display: inline-block;
}


body{
    background-color: #F6F8F9;
}

/* main */

main{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    
}
main button{
    padding: 8px 13px;
    border: 1px solid;
}

.blu-button{
    background-color: #47ADF1;
    border-color:#47ADF1;
    color: white;
}
.white-button{
    background-color: white;
    border-color: lightgrey;
    color: lightgrey;
}

.buttons-container{
    padding-left: 23px;
    padding-top: 27px;
    padding-bottom: 10px;
}


.main-row{
    border: 1px solid #F6F8F9;
}
